nav {

    background-color: #FF7F00;
    height: 10%;
	  position:fixed;
	  top: 0;
    left:-1px;
	  width: 100%;
	  z-index: 12;
	  box-sizing: border-box;

    }
  
  .navigation1 {

    float: right;
    text-align: center;
    
    margin-right: 5%;
    margin-top: 2%;
    color: rgb(240, 240, 240);
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif;

    text-decoration:none;
    font-size: 18px;

  }


  .active {

    float: right;
    text-align: center;
    
    margin-right: 5%;
    margin-top: 2%;
    color:steelblue;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif;

    text-decoration:none;
    font-size: 18px;

  }
  
      .navlogo {
        position:fixed;
        height: 7%;
        margin: 0.6%;
        border-radius: 100%;

      
      }



      .giris{
        position: absolute;
        z-index: 1;
        font-family: 'Montserrat', 'Segoe UI', 'arial','microsoft sans serif', Tahoma, Verdana, sans-serif;
        font-size: 60pt;
        color: #f7f7f7;
        top: 170px;
        left:150px;

      }
      .banner{
        object-fit: cover;
        position: relative;
        width: 100%;
      }

