
  img.portre {

    position: absolute;
    margin-top: 6%;
    left:80%;
    width: 15%;
    border-radius: 50%;

    z-index: 10;

    opacity: 1;


  } 



  h1.mainpage  {
      position:absolute;
    margin-top:6%;
    margin-left:32%;
    color:steelblue;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 50px;
    z-index: 10;

  }

  h3.part1  {
  position:absolute;
  margin-top:15%;
  margin-left:3%;
  color:steelblue;
  text-align: left;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
  font-style: normal;
  font-size: 25px;
  z-index: 10;

}

p.part1_1  {
    position:absolute;
    margin-top:18%;
    margin-left:3%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }
  p.part1_2  {
    position:absolute;
    margin-top:21%;
    margin-left:3%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }


  img.sekil1{
      position: absolute;
    margin-top: -7%;
    margin-left: -1%;
    width: 48%;
    opacity:0.5;
z-index: 1;


  }



  
  h3.part2  {
    position:absolute;
    margin-top:31%;
    margin-left:20%;
    color:steelblue;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 25px;
    z-index: 10;
  
  }


  h4.part2_1  {
    position:absolute;
    margin-top:35%;
    margin-left:23%;
    color:steelblue;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }

  
  p.part2_1  {
    position:absolute;
    margin-top:39%;
    margin-left:25%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }

  p.part2_2  {
    position:absolute;
    margin-top:45%;
    margin-left:25%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }

  h4.part2_2  {
    position:absolute;
    margin-top:50%;
    margin-left:23%;
    color:steelblue;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }
  p.part2_3  {
    position:absolute;
    margin-top:54%;
    margin-left:25%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }

  
  img.sekil2{
    position: absolute;
  margin-top: 30%;
  margin-left: 18%;
  width: 65%;
opacity: 0.5;
z-index: 1;


}





h4.part3  {
    position:absolute;
    margin-top:65%;
    margin-left:3%;
    color:steelblue;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }
  li.part3_1  {
    position:absolute;
    margin-top:68%;
    margin-left:3%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }
  li.part3_2  {
    position:absolute;
    margin-top:71%;
    margin-left:3%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }
  li.part3_3  {
    position:absolute;
    margin-top:74%;
    margin-left:3%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }




img.sekil3{
    position: absolute;
  margin-top: 63%;
  margin-left: 1%;
  width: 40%;
opacity: 0.5;
z-index: 1;


}




h4.part4  {
    position:absolute;
    margin-top:65%;
    margin-left:60%;
    color:steelblue;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }

  p.part4_1  {
    position:absolute;
    margin-top:68%;
    margin-left:63%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }

  p.part4_2  {
    position:absolute;
    margin-top:71%;
    margin-left:63%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;
    z-index: 10;
  
  }

img.sekil4{
    position: absolute;
  margin-top: 63%;
  margin-left: 57%;
  width: 40%;
  opacity: 0.8;
  z-index: 1;


}