h2.mainpage{

    margin-top: 7%;

    color:steelblue;
    text-align:center;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size:40px;


}
p.mainpage{

    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Verdana, sans-serif ;
    font-style: normal;
    font-size: 20px;

}


img.im_i1{
    
    position:absolute;
    top:39%;
    left:4%;
    width: 50%;

  }

  
img.im_i2{
    
    position:absolute;
    top:39%;
    left:58%;
    width: 38%;

  }

  img.im_i3{
    
    position:absolute;
    top:85%;
    left:30%;
    width: 38%;

  }

  img.im_i4{
    
    position:absolute;
    top:148%;
    left:8%;
    width: 38%;

  }

  
  img.im_i5{
    
    position:absolute;
    top:148%;
    left:52%;
    width: 38%;

  }